@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 
Large Device (Laptops/Desktop 992px and up)
Small Device (Phones 600px and down)
Table Responsive Optional
No lorem ipsum and bad colon
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

body {
    max-width: 90rem;
    margin: auto;
    width: calc(100% - 12rem);
}

/* General Styles */
.btn-primary {
    background-color: #FF5400;
    color: #FFF;
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

/* Navigation Bar Styles */
header {
    margin: 0 auto;
}

nav {
    margin-top: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.natural {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.siteMenuContainer>button {
    display: none;
}

.siteMenuContainer>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.siteMenuContainer>ul>li {
    list-style: none;
}

.siteMenuContainer>ul>li>a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

.siteMenuContainer>ul>li>a:hover {
    color: #FF5400;
}

/* Banner Section Styles 
*/
.bannerSectionContainer {
    border-radius: 1rem;
    height: 32rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3.125rem;
}

.bannerObject {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.bannerObject form {
    display: flex;
    gap: 1.5rem;
}

#whereGo,
#when,
#selectType {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.bannerText {
    text-align: center;
}

.bannerText>h1 {
    color: #FFF;
    font-size: 3.333vw;
    font-weight: 800;
}

.bannerText>p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 42.25rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

}

/* Our Popular Tour Section */
.popularTourSection {
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.popularDescription>h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popularDescription>p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.popularDescription>p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 36rem;
}

.popularDescription>ul {
    width: 32.81rem;
    padding-left: 1.5rem;
}

.popularImg {
    width: 33.75rem;
}

/* Choose Your Destination Section */
.destinationText {
    margin-top: 6.25rem;
    text-align: center;
}

.destinationText>h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.destinationText>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 40rem;
    margin: auto;
    margin-bottom: 3rem;
}

.destinationImagesContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.destinationImagesContainer>img {
    width: 100%;
}

.descriptionImage-1 {
    grid-column: 1/span 6;
    width: fit-content;
}

.descriptionImage-2 {
    grid-column: 7/span 5;
    width: fit-content;
}

.descriptionImage-3 {
    grid-column: 1/span 3;
    width: fit-content;
}

.descriptionImage-4 {
    grid-column: 5/span 3;
    width: fit-content;
}

.descriptionImage-5 {
    grid-column: 10/span 2;
    width: fit-content;
}

.descriptionImage-6 {
    grid-column: 1/span 5;
    width: fit-content;
}

.descriptionImage-7 {
    grid-column: 6/span 6;
    width: fit-content;
}

#descriptionImg {
    position: relative;
    text-align: center;
    color: white;
}

#descriptionImg>h3 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Why Choose Us Section */
.chooseUsText {
    margin-top: 6.25rem;
}

.chooseUsText>h3 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.chooseUsText>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    width: 40.18rem;
    margin: auto;
}

.chooseUsCard {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.5rem;
}

.chooseUsCard>.card {
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

#card-2 {
    background: rgba(41, 206, 246, 0.05);
}

#card-3 {
    position: relative;
    left: 50%;
}

.chooseUsCard>.card>p {
    margin-top: 1rem;
}

.chooseUsCard>.card>img {
    width: 8%;
    margin-bottom: 2rem;
}

/* Place Section */
.placeSectionContainer {
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.placeDescription>h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    width: 28rem;
}

.placeDescription>p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.placeDescription>ul {
    margin-bottom: 2.875rem;
    padding-left: 1.5rem;
}

.placeDescription>ul>li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
}

.video>iframe {
    width: 38.125rem;
    height: 26.5rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

/* News Letter Section */
.newsLetterSection {
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.newsLetterForm>h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.newsLetterForm>p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 3rem;
}

.newsLetterForm {
    width: 29.625rem;
    height: 26.375rem;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsLetterForm>form>input {
    width: 24.56rem;
    height: 3.25rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-size: 1rem;
}

.btn-subscribe {
    margin-top: 1.5rem;
    width: 24.56rem;
}

.newsLetterImage {
    width: 42rem;
    height: 26.375rem;
    width: fit-content;
    border-radius: 16px;
    object-fit: cover;
}

.saveCard {
    width: 20.25rem;
    height: 7.5rem;
    transform: rotate(-19.628deg);
    border-radius: 1rem;
    background: #FF5400;
    position: relative;
    left: 72.5%;
    bottom: 10.62rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saveCard>p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.saveCard>h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* Footer Section */
footer {
    height: 31.375rem;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerHeader {
    display: flex;
}
.footerHeaderContainer>p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 48rem;
    text-align: center;
    margin-top: 1.5rem;
}
.sociaIcon{
    margin-top:2rem;
    display: flex;
    gap:1.8rem;
}
.copyRights{
    margin-top:3.125rem;
    padding-top:3.125rem;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    width: 54.5rem;
    text-align: center;
}

/* Responsive Style Section */
/* Mobile Device Responsive */
@media only screen and (min-width: 0px) and (max-width:600px) {
    body {
        width: 100%;
        padding: 2rem;
    }

    .natural {
        font-size: 1.3rem;
    }

    .travel {
        font-size: 1.3rem;
    }

    .siteMenuContainer>button {
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        background-color: white;
        font-weight: 700;
        cursor: pointer;
    }

    .siteMenuContainer>ul {
        display: none;
    }

    .siteMenuContainer>button:hover ul {
        display: block;
    }

    /* Banner Responsive */
    .bannerSectionContainer {
        height: 40rem;
    }

    .bannerText>h1 {
        font-size: 5vw;
    }

    .bannerObject form {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .bannerText>p {
        width: fit-content;
    }

    .popularDescription>p,
    li {
        width: fit-content;
    }

    .destinationText>p {
        width: fit-content;
    }

    .popularTourSection {
        flex-direction: column;
    }

    .destinationImagesContainer {
        grid-template-columns: 1fr;
    }
    .gridImg{
        width:37rem;
        height:20rem;
        object-fit: cover;
        padding:1rem;
    }
    .descriptionImage-1,
    .descriptionImage-2,
    .descriptionImage-3,
    .descriptionImage-4,
    .descriptionImage-5,
    .descriptionImage-6,
    .descriptionImage-7 {
        grid-column: 1/span 1;
        margin: auto;
        width: fit-content;
    }

    .chooseUsCard {
        grid-template-columns: 1fr;
    }

    #card-3 {
        position: unset;
        margin: auto;
    }

    .chooseUsText>p {
        width: fit-content;
    }

    .placeSectionContainer {
        flex-direction: column;
    }

    .video>iframe {
        width: 34rem;
    }

    .newsLetterSection {
        flex-direction: column;
        align-items: center;
    }

    .newsLetterImage>img {
        width: 30rem;

    }

    .saveCard {
        left: 32.5%;
        bottom: 18rem;
    }
    .footerHeaderContainer>p{
        width: fit-content;
    }
    .copyRights{
        width:fit-content;
    }
}

/* Tablet device Responsive */
@media only screen and (min-width:600px) and (max-width:992px) {
    body {
        width: 100%;
        padding: 2.5rem;
    }

    .natural {
        font-size: 1.3rem;
    }

    .travel {
        font-size: 1.3rem;
    }

    nav {
        flex-direction: column;
    }

    .bannerSectionContainer {
        height: 40rem;
    }

    .bannerObject form {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .bannerText>h1 {
        font-size: 5vw;
    }

    .bannerObject form {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .popularTourSection {
        flex-direction: column;
        align-items: center;
    }

    .popularDescription>p {
        width: fit-content;
    }

    .popularDescription>ul {
        width: fit-content;
    }

    .popularImg {
        width: max-content;
    }

    .destinationImagesContainer {
        grid-template-columns: 1fr;
    }
    .gridImg{
        width:40rem;
        height:24rem;
        object-fit: cover;
        padding:1rem;
    }
    .descriptionImage-1,
    .descriptionImage-2,
    .descriptionImage-3,
    .descriptionImage-4,
    .descriptionImage-5,
    .descriptionImage-6,
    .descriptionImage-7 {
        grid-column: 1/span 1;
        margin: auto;
        width: fit-content;
    }

    .chooseUsCard {
        grid-template-columns: 1fr;
    }

    .chooseUsCard>.card {
        width: 100%;
    }

    #card-3 {
        position: unset;
    }

    .chooseUsText>p {
        width: fit-content;
    }

    .placeSectionContainer {
        flex-direction: column;
        align-items: center;
    }

    .video>iframe {
        width: 610px;
    }

    .newsLetterSection {
        flex-direction: column;
        align-items: center;
    }

    .newsLetterImage>img {
        width: 30rem;

    }

    .saveCard {
        left: 38%;
        bottom: 18rem;
    }
    .footerHeaderContainer>p{
        width: fit-content;
    }
    .copyRights{
        width:fit-content;
    }
}