@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 
Large Device (Laptops/Desktop 992px and up)
Small Device (Phones 600px and down)
Table Responsive Optional
No lorem ipsum and bad colon
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

body {
    max-width: 90rem;
    margin: auto;
    width: calc(100% - 12rem);
}

/* General Styles */
.btn-primary {
    background-color: #FF5400;
    color: #FFF;
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

/* Navigation Bar Styles */
header {
    margin: 0 auto;
}

nav {
    margin-top: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.natural {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.siteMenuContainer>button {
    display: none;
}

.siteMenuContainer>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.siteMenuContainer>ul>li {
    list-style: none;
}

.siteMenuContainer>ul>li>a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

.siteMenuContainer>ul>li>a:hover {
    color: #FF5400;
}

/* Banner Section Styles 
*/
.bannerSectionContainer {
    border-radius: 1rem;
    height: 32rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3.125rem;
}

.bannerObject {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.bannerObject form {
    display: flex;
    gap: 1.5rem;
}

#whereGo,
#when,
#selectType {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.bannerText {
    text-align: center;
}

.bannerText>h1 {
    color: #FFF;
    font-size: 3.333vw;
    font-weight: 800;
}

.bannerText>p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 42.25rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

}

/* Our Popular Tour Section */
.popularTourSection {
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.popularDescription>h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popularDescription>p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.popularDescription>p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 36rem;
}

.popularDescription>ul {
    width: 32.81rem;
    padding-left: 1.5rem;
}

.popularImg {
    width: 33.75rem;
}

/* Choose Your Destination Section */
.destinationText {
    margin-top: 6.25rem;
    text-align: center;
}

.destinationText>h3 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.destinationText>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 40rem;
    margin: auto;
    margin-bottom: 3rem;
}

.destinationImagesContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:1.5rem;
    justify-content: center;
    align-items: center;
}
.destinationImagesContainer>img{
}
.descriptionImage-1 {
    grid-column: 1/span 6;
    width: fit-content;
}
.descriptionImage-2{
    grid-column: 7/span 5;
    width: fit-content;
}
.descriptionImage-3{
    grid-column: 1/span 3;
    width: fit-content;
}
.descriptionImage-4{
    grid-column: 5/span 3;
    width: fit-content;
}
.descriptionImage-5{
    grid-column:10/span 2;
    width: fit-content;
}
.descriptionImage-6{
    grid-column: 1/span 5;
    width: fit-content;
}
.descriptionImage-7{
    grid-column: 6/span 6;
    width:fit-content;
}
/* Responsive Style Section */
/* Mobile Device Responsive */
@media only screen and (min-width: 0px) and (max-width:600px) {
    body {
        width: 100%;
        padding: 2rem;
    }

    .natural {
        font-size: 1.3rem;
    }

    .travel {
        font-size: 1.3rem;
    }

    .siteMenuContainer>button {
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        background-color: white;
        font-weight: 700;
        cursor: pointer;
    }

    .siteMenuContainer>ul {
        display: none;
    }

    .siteMenuContainer>button:hover ul {
        display: block;
    }

    /* Banner Responsive */
    .bannerSectionContainer {
        height: 40rem;
    }

    .bannerText>h1 {
        font-size: 5vw;
    }

    .bannerObject form {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .bannerText>p {
        width: fit-content;
    }

    .popularTourSection {
        flex-direction: column;
    }
}

/* Tablet device Responsive */
@media only screen and (min-width:600px) and (max-width:992px) {
    body {
        width: 100%;
        padding: 2.5rem;
    }

    .natural {
        font-size: 1.3rem;
    }

    .travel {
        font-size: 1.3rem;
    }

    nav {
        flex-direction: column;
    }

    .bannerSectionContainer {
        height: 40rem;
    }

    .bannerObject form {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .bannerText>h1 {
        font-size: 5vw;
    }

    .bannerObject form {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .popularTourSection {
        flex-direction: column;
        align-items: center;
    }

    .popularDescription>p {
        width: 100%;
    }

    .popularDescription>ul {
        width: 100%;
    }

    .popularImg {
        width: max-content;
    }
}